# Default ignored files
/shelf/

/backtracking/*.exe
/graph/*.exe
/hashmap/*.exe
/heap/*.exe
/linklist/*.exe
/online/*.exe
/queue/*.exe
/recursion/*.exe
/stack/*.exe
/tree/*.exe
/trie/*.exe

/.idea
/.vscode
/cmake-build-debug
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
